.hero {
  text-align: center;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 45px;

  h1 {
    font-size: 58px;
    text-align: center;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    width: 540px;
    margin: 0 auto;
    margin-top: 18px;
    color: darken(#f0f0f0, 25%);
    font-weight: 400;
  }
}